:root {
  --color-primary: #00eaff;
  --color-bg: transparent;;
  --color-text: #e0e0e0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Links */
a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  color: #00c0ff;
}

/* Headings */
h1 {
  font-size: 2.5em;
  line-height: 1.2;
}

/* Buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: var(--color-primary);
  background-color: transparent;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Remove flex centering from default template */
#root {
  display: block;
  text-align: center;
}
